*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
}
.logo{
  width: 210px;
}

img{
  width: 100%;
}

.navbar-links a{
  font-size: 14px;
  color: #878787;
  font-weight: 500;
  margin: 0 10px;
}

.navbar-links a:hover{
  color: #EE414A;
}

.login-btn{
  border-radius: 8px;
  border: 1px solid #E73540;
  background-color:#E73540;
  padding: 8px 18px;
  color: white;
  transition: 0.2s;
}

.login-btn:hover{
  background-color: white;
  color: #E73540;
}

.navbar-icons{
  padding: 1px 6px 6px 6px;
  border-radius: 50%;
  background-color: #FDE1E3;
  margin: 0 10px;
}

.home-banner{
  background-image: url('./assets/images/collections+background.jpeg');
  text-align: center;
  padding: 25px;
  margin: 10px 0;
  border-radius: 12px;
  border: 1px solid rgba(211, 211, 211, 0.812);
}

.home-banner img{
  width: 350px;
  margin-top: -25px;
}

.home-banner h2{
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  font-weight: 400;
}

.home-banner p{
  color: black ;
  line-height: 6px;
}

.home-banner p:last-child{
  line-height: 25px;
  font-weight: 700;
}

.slider-card{
  padding: 0 10px;
}

.tab-head button{
  padding: 8px 40px;
  border-radius: 60px;
  margin-right: 8px;
  background-color: transparent;
  border: 1px solid lightgray;
  font-size: 17px;
  color: grey;
}

.active-tab-btn{
  background-color: black !important;
  color: white !important;
}



.tab-body{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  padding: 40px 20px;
}
.new-nav{
  position: relative;
}
.new-nav::after{
  content: "new";
  padding: 0 10px 1px 10px;
  border-radius: 12px;
  background-color: rgba(255, 0, 157, 0.384);
  box-shadow: 0 0 0.1px 0.2px rgb(100, 98, 98);
  color: red;
  font-size: 10px;
  position: absolute;
  top: -6px;
  right: -20px;
  animation: navBlink 1s infinite;
}

@keyframes navBlink{
  50%{
    opacity: 0;
  }
}

@media only screen and (max-width: 992px){
  .logo{
    width: 180px;
  }
  .home-banner p{
    line-height: 20px;
  }
}

@media only screen and (max-width: 450px){
  .home-banner img{
    width: 100%;
    margin-top: -25px;
  }
}