.menuitems>li{
    margin-right: 20px;
    color:#7b7b7b;
    font-size: 14px;
}
.active{
    color:red !important;
}
.search{
    z-index: 99;
    top:26px;
    
    padding:0 5px;
    font-size: 20px;
    font-weight: 400;
    color:#7b7b7b
}